<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
    <link href="~/Content/GameLose.css" rel="stylesheet" />
</head>
<body>
    <div id="tudo">
        <div class="gameover">
            <p> YOU </p>
            <p> LOSE </p>
        </div>
        <div class="continue"> <p> Play Again? </p> </div>
        <div class="opcoes">
            <div class="yes"> <a href="@Url.Action("NewGame", "Home")"> YES </a> </div>
            <div class="no"> <a href="@Url.Action("GameView", "Home")"> NO </a> </div>
        </div>
    </div>
</body>
